#home {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

.particles {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.navbar,
.navbar-brand,
.navbar-link {
  background-color: #eba92a !important;
  color: #1c3948 !important;
  font-family: serif, "Times New Roman", Times;
}

.navbar-link {
  font-size: large;
}

.navbar-brand {
  font-size: x-large;
  font-weight: bold;
}

div .intro {
  text-align: center;
  padding-top: 280px;
  font-family: serif;
  font-weight: bolder;
  color: #1c3948;
  text-align: center;
}

#about,
#skill,
#education,
#certificate,
#exprience {
  background-color: white;
  margin-top: 40px;
  color: #1c3948;
  font-family: serif, "Times New Roman", Times;
  z-index: 100 !important;
}

#about h2,
#skill h2,
#education h2,
#certificate h2,
#exprience h2 {
  text-align: center;
  text-decoration: underline;
  text-decoration-color: #eba92a;
  text-underline-position: below;
}

#about p {
  text-align: justify;
  padding: 10px 30px;
}

.progress-bar {
  background-color: #eba92a !important;
  text-align: justify;
  font-size: medium;
}

#certificate a,
#exprience a {
  border-bottom: 1px solid #1c3948;
}

a {
  color: #1c3948 !important;
}

a:hover {
  color: #b84d27 !important;
}
